<div class="container">
  <div class="header-info">
    <img src="https://rickandmortyapi.com/api/character/avatar/303.jpeg" />
    <div class="initial-details">
      <span>Nome: Bob Bobo</span>
      <div class="quick-details">
        <span>Status: Alive</span>
        <span>Species: Homan</span>
        <span>Gender:</span>
      </div>
    </div>
  </div>
  <div class="body-info">
    <span>Origin: Earth</span>
    <span>Location: Earth</span>
  </div>
    <div class="episodes">
      <span class="title">Episodes</span>
      <div class="cards">
        card Episode 1
      </div>
    </div>
</div>
